
<form method ="post" action ="/register/save">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="name"><b>Your name</b></label>
    <input type="text" placeholder="Enter name" name="name" id="name" required>

    <label for="usename"><b>Username</b></label>
    <input type="text" placeholder="At least 6 characters" name="usename" id="usename" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="At least 8 characters" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>

    <label for="RSA"><b>RSA</b></label>
    <input type="text" placeholder="Enter RSA" name="RSA" id="RSA" required>
    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" class="registerbtn">Register</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="#">Log in</a>.</p>
  </div>
</form>

