<form method="post" action="">
  <div class="form-group">
    <label for="SearchInput">Search</label>
    <input type="text" name ="q" class="form-control" id="SearchInput" placeholder="Nhập từ khóa">
  </div>

    <div class="form-group">
    <label for="gender">Search</label>
    <select  name ="gender" class="form-control" id="gender">
        <option value="Choose">Chọn</option>
        <option value="Male">Nam</option>
        <option value="Female">Nữ</option>
    </select>


  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>